{{#each foodItem}}
<div>
	<h2 class='foodListOwner' value='{{owner}}'>{{owner}}
		<div class="foodWeight">
		</div>
	</h2>
    <i class='fa fa-angle-down fa-3x showFoodList' aria-hidden='true' title='See Food List'></i>
    <div class='{{../className}}'>
		<div class='visibleFoodItemDetails'>
			<h3>{{item}}</h3>
    		<p>Quantity: {{quantity}}</p>
    		<p>Weight: {{weight}}</p>
    		<a class='deleteFoodItem' value='{{_id}}' href='#'>
    			<i class='fa fa-trash' aria-hidden='true'></i>
    		</a>
		</div>
    </div>
</div>
{{/each}}
