{{#each gearItem}}
<div>
	<h2 class='gearListOwner' value='{{owner}}'>{{owner}}
		<div class="gearWeight">
		</div>
	</h2>
    <i class='fa fa-angle-down fa-3x showGearList' aria-hidden='true' title='See Food List'></i>
    <div class='{{../className}}'>
		<div class='visibleGearItemDetails'>
			<h3>{{item}}</h3>
    		<p>Quantity: {{quantity}}</p>
    		<p>Weight: {{weight}}</p>
    		<a class='deleteGearItem' value='{{_id}}' href='#'>
    			<i class='fa fa-trash' aria-hidden='true'></i>
    		</a>
		</div>
    </div>
</div>
<hr>
{{/each}}




            