<div class="tripDetailsDiv">
    <a  target='_blank' href='https://www.google.com/maps/search/{{trailHead}}+trailhead'>
        <h1>{{trail}}</h1>
    </a>
<p>Start Date: <br> {{startDate}}</p><style></style><p>End Date: <br>{{endDate}}</p>
</div>
<div class="mapDistanceTotalsDiv"></div>
<div id="map2"></div>

<div class="gearListDiv">
    <h1>Gear Lists</h1>
    <i aria-hidden="true" class="fa fa-plus fa-2x addGearItem" title="Add List Item"></i>
    <div class="currGearList">
        <div class="hiddenAddGearItemForm addGearItemForm">
            <input class="newGearListOwner" placeholder="Item Owner" type="text"> 
            <input class="newGearItem" placeholder="Gear Item" type="text"> 
            <input class="newGearItemWeight" placeholder="Item Weight" type="text"> 
            <select class="weightMeasure" name="weight">
                <option value="oz">Oz</option>
                <option value="lbs">Lbs</option>
                <option value="g">Grams</option>
            </select> 
            <input class="newGearItemQ" placeholder="Quantity" type="text"> 
            <button class="submitGearItemBtn">Submit</button>
        </div>
        <div class="userGearLists">
            {{#each gearData}}
            <div>
                <h2 class='gearListOwner' value='{{@key}}'>{{@key}}</h2>
                <i class='fa fa-angle-right fa-3x showGearList' aria-hidden='true' title='See Gear List'></i>
                <div class='food-{{@key}} gearItemDetails'>
                    <div class='visibleGearItemDetails'>
                        {{#each this.gearList}}
                        <h3>{{this.item}}</h3>
                        <p>Quantity:{{this.quantity}}</p>
                        <p>Weight:{{this.weight}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
            <hr>
        </div>
    </div>
</div>

<div class="foodListDiv">
    <h1>Food Lists</h1>
    <i aria-hidden="true" class="fa fa-plus fa-2x addFoodItem" title="Add List Item"></i>
    <div class="currFoodList">
        <div class="hiddenAddFoodItemForm addFoodItemForm">
            <input class="newFoodListOwner" placeholder="Item Owner" type="text"> 
            <input class="newFoodItem" placeholder="Food Item" type="text"> 
            <input class="newFoodItemWeight" placeholder="Item Weight" type="text"> 
            <select class="foodWeightMeasure" name="weight">
                <option value="oz">Oz</option>
                <option value="lbs">Lbs</option>
                <option value="g">Grams</option>
            </select> 
            <input class="newFoodItemQ" placeholder="Quantity" type="text"> 
            <button class="submitFoodItemBtn">Submit</button>
        </div>
        <div class="userFoodLists">
       {{#each foodData}}
            <div>
                <h2 class='foodListOwner' value='{{@key}}'>{{@key}}</h2>
                <i class='fa fa-angle-right fa-3x showFoodList' aria-hidden='true' title='See Food List'></i>
                <div class='food-{{@key}} foodItemDetails'>
                    <div class='visibleFoodItemDetails'>
                        {{#each this.foodList}}
                        <h3>{{this.item}}</h3>
                        <p>Quantity:{{this.quantity}}</p>
                        <p>Weight:{{this.weight}}</p>
                        {{/each}}
                    </div>
                </div>
            </div>
            {{/each}}
            <hr>
        </div>
    </div>
</div>

<i aria-hidden="true" class="fa fa-arrow-left fa-2x backToDashboard leaveTripPage" title="Back to Dashboard"></i>